@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;1,200&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body, main, aside, footer{
  display: flex;
}

 main, aside, footer{
  margin: 3px;
  background-color: #f4f4f4;

}

body, header, footer{
  flex: 1 1 100vw;
}


body{
  flex-wrap: wrap;
  background-color: #FDFDFD;
  font-family: "Inter", sans-serif;
}

header{
 background-color: #24252a;
 box-shadow: 0px 3px 10px #464646;
 margin-bottom: 10px;
}

nav.nav-bar{
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
  color: #fff;
  margin: 25px;
}


#navList, #navList ul{
  display: flex;
  align-items: center;
}

.mobile{
display: none;
}

 ul{
  justify-content: center;
  list-style: none;
  margin: 0 15px;
}

button{
  border: none;
  font-size: 1.05rem;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

ul li button{
  background-color: #24252a;
  font-weight: 400;
}

.login-button button{
  background-color: #0187a7;
  font-weight: 500;
  margin: 0 20px;
}

a{
  text-decoration: none;
  color: inherit;
}


#openMenu, #closeMenu{
  border: none;
  background: none;
  font-size:30px;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  display:none;
}

main{
  flex: 3 1 500px; 
}

aside{
  flex: 1 1 200px;
}


main section, aside section{
  width: 100%;
  height: 2000px;
  margin: 10px;
  background: brown;
}

footer{
  height: 100px;
 
}



@media only screen and (max-width: 923.98px){

  header{
      order: 0;
    }

  aside{
    order:1;
  }

  footer{
    order:3;
  }
  main{
    order:2;
  }
}


@media only screen and (max-width: 717.98px){

  #openMenu, #closeMenu{
    display: flex;
  }
  
  #closeMenu{
    position: fixed;
    right: 15px;
    top: 15px;
    color: #000;
  }
  
  #openMenu{
    margin-left: auto;
    margin-right: 10px;
    align-self: center;
  }

  #navList{
      display: none;
  }
  
  .mobile .navItems{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  }

  .login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .login-button button{
    margin: 20px;
    width: 90%;
  }

  .open{
    display: block;
  }
  
  
  
}

