*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body, header, nav, main, aside, footer{
  display: flex;
}

 header, nav, main, aside, footer{
  margin: 3px;
  background-color: rgb(181, 184, 186);
}

body, header, footer{
  flex: 1 1 100vw;
}


body{
  flex-wrap: wrap;
}

header{
 height: 100px;
}

header #logo{
  flex: 0 1 200px;
  background-color: rgb(183, 209, 237);
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  flex: 1 1 100vw;
  justify-content: flex-end;
  align-items: center;
  transition: 0.3s;
}

nav a{
  margin: 3%;
  font-size: 1.2em;
}

a{
text-decoration: none;
  color: inherit;
}

#openMenu, #closeMenu{
  border: none;
  background: none;
  font-size:30px;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  display:none;
}

main{
  flex: 3 1 500px; 
  order: 1;
}

main section, aside section{
  width: 100%;
  height: 2000px;
  margin: 10px;
  background: brown;
}

aside{
  flex: 1 1 200px;
}

footer{
  
  order:3;
}

@media only screen and (max-width: 923.98px){

  header{
      order: 0;
    }

  aside{
    order:1;
  }

  footer{
    order:3;
  }
  main{
    order:2;
  }
}

@media only screen and (max-width: 717.98px){

  #openMenu, #closeMenu{
    display: block;
  }
  
  #closeMenu{
    position: fixed;
    right: 15px;
    top: 15px;
  }
  
  #openMenu{
    margin-left: auto;
    margin-right: 10px;
  }
  
  nav{
     position: fixed;
     flex-direction: column;
      width: 100vw;
     height: 100vh;
      background: rgba(255, 255, 255, 0.8);
      align-items: center;
      justify-content: center;
      margin: 0;
      display: none;
   }
}

